<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор суммы</title>
</head>
<body>
    <h1>Курс "Промышленное программирование"</h1>

    <!-- Меню -->
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/time/">Текущее время</a></li>
            <li><a href="/calc/">Калькулятор</a></li>
        </ul>
    </nav>

    <ul>
        <li>Первое число: {{ a }}</li>
        <li>Второе число: {{ b }}</li>
        <li>Их сумма равна: {{ total }}</li>
    </ul>
</body>
</html>