{% extends 'base.html' %}

{% block title %}История вычислений{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">История вычислений</h1>

        <nav class="mt-4">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/time/">Текущее время</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calc/">Калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expression/">Выражение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history/">История выражений</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete/">Удалить последнее выражение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clear/">Удалить историю выражений</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/">Добавить новое выражение</a>
                </li>
            </ul>
        </nav>

        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Выражение</th>
                    <th>Результат</th>
                </tr>
            </thead>
            <tbody>
                {% for record in history %}
                    <tr>
                        <td>{{ record.expression }}</td>
                        <td>{{ record.result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a class="btn btn-primary" href="{% url 'expression_page' %}">Сгенерировать новое выражение</a>
        </div>
    </div>
{% endblock %}
