<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя страница</title>
</head>
<body>
    <h1>Курс "Промышленное программирование"</h1>
    <p>Автор сайта: Шандриков Захар</p>
    <p>Количество страниц на сайте: 5</p>

    <!-- Меню -->
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/time/">Текущее время</a></li>
            <li><a href="/calc/">Калькулятор</a></li>
            <li><a href="/expression/">Выражение</a></li>
            <li><a href="/history/">История выражений</a></li>
            <li><a href="/str2words/">Характеристика слова</a></li>
            <li><a href="/str_history/">История пользователей</a></li>
            {% if user.is_authenticated %}
            <li><a href="/logout/">Выход</a></li>
            {% else %}
            <li><a href="/login/">Вход</a></li>
            {% endif %}

        </ul>
    </nav>
</body>
</html>
