{% extends 'base.html' %}

{% block title %}Моя страница{% endblock %}

{% block content %}
    <div class="container mt-5 text-center">
        <h1>Курс "Промышленное программирование"</h1>
        <p>Автор сайта: Шандриков Захар</p>
        <p>Количество страниц на сайте: 5</p>

        <!-- Меню -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Навигация</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="/time/">Текущее время</a></li>
                        <li class="nav-item"><a class="nav-link" href="/calc/">Калькулятор</a></li>
                        <li class="nav-item"><a class="nav-link" href="/expression/">Выражение</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history/">История выражений</a></li>
                        <li class="nav-item"><a class="nav-link" href="/str2words/">Характеристика слова</a></li>
                        <li class="nav-item"><a class="nav-link" href="/str_history/">История пользователей</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="/logout/">Выход</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login/">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

