{% extends 'base.html' %}

{% block title %}Строка в слова и числа{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Введите строку</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="input_string" rows="4" cols="50" class="form-control" placeholder="Введите текст здесь..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        {% if word_count is not None %}
            <h2 class="mt-5">Результаты:</h2>
            <p>Количество слов: <strong>{{ word_count }}</strong></p>
            <p>Количество чисел: <strong>{{ number_count }}</strong></p>

            <h3>Слова:</h3>
            <ul class="list-group mb-4">
                {% for word in words %}
                    <li class="list-group-item">{{ word }}</li>
                {% endfor %}
            </ul>

            <h3>Числа:</h3>
            <ul class="list-group">
                {% for number in numbers %}
                    <li class="list-group-item">{{ number }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
